.build
.DS_Store
Project.xcodeproj
set-simulator-location
.swiftpm/
Trip Simulator.xcodeproj/project.xcworkspace/xcuserdata/matt.xcuserdatad/UserInterfaceState.xcuserstate
Trip Simulator.xcodeproj/xcuserdata/matt.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
